TELEGRAM_TOKEN= # token do bot telegram
OPENAI_API_KEY= # token da API da OpenAI
CHAT_ID= # Chat_Id do usuário no Telegram
CHAT_ID_LIST= # [ lista de Chat_Ids que tem permissão para acessar o bot]
PORT=8000 # Porta do servidor FlaskAPI
CREDENCIAIS_GOOGLE_SHEETS= # credenciais da API Google Sheets como uma string 